.italic {
    font-style: italic;
}

.underlined {
    text-decoration: underline;
}

.linethrough {
    text-decoration: line-through;
}

.mentionStyle {
    background-color: #ffff00;
    color: black;
    font-weight: 600;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.mentionStyle:hover {
    background-color: #ffff5f;
}

.msgAuthorBadge {
    font-size: smaller;
    border-radius: 4px;
    padding: 2px;
    font-weight: normal;
    background-color: var(--bg1);
    transition: all 0.2s;
    cursor: pointer;
}

.msgAuthOwner .msgAuthorBadge,
.userBadgeOwner {
    background-color: var(--pe);
}

.msgAuthAdmin .msgAuthorBadge,
.userBadgeAdmin {
    background-color: var(--re);
}

.msgAuthMod .msgAuthorBadge,
.userBadgeMod {
    background-color: var(--be);
}

.msgAuthBot .msgAuthorBadge,
.userBadgeBox {
    background-color: var(--bg1);
}

.msgAuthVerified .msgAuthorBadge,
.userBadgeVerified {
    background-color: var(--s3);
}

.msgAuthorBadge:hover {
    filter: brightness(1.5);
}

.msgAuthorBadge:active {
    filter: brightness(0.9);
}

.replyingTo {
    font-size: small;
    color: var(--wv);
    padding-left: 15px;
}

.replySender {
    padding: 2px;
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(255, 255, 255, .1);
}

.msgStyleHidden {
    border: 4px dashed var(--m1);
    background: var(--m4t);
}

.msgStyleHidden {
    border: 4px dashed var(--m1);
    background: var(--m4t);
    transition: all 0.3s;
}

.msgStyleHidden:hover {
    border: 4px dotted var(--m1);
    background: var(--m2t);
}

.msgStyleShake {
    animation: shaky 1s;
}

.msgStyleShake:hover {
    animation: shake 2s linear;

}

.msgStyleShake:active {
    animation: shaking 0.2s linear infinite;
}

@font-face {
    font-family: "honk";
    src: url("./honk.ttf");
}

.msgStyleHonk {
    font-family: "honk";
    background: var(--r);
}

.msgStyleHonk {
    --s: 5px;
    --_m: #0000 0 calc(2*atan(.5)), #000 0 50%;
    mask:
        repeating-conic-gradient(from atan(2) at 50% var(--s), var(--_m)) calc(2*var(--s)) calc(-1*var(--s))/calc(4*var(--s)) 100% intersect,
        repeating-conic-gradient(from atan(-.5) at var(--s), var(--_m)) calc(-1*var(--s)) calc(2*var(--s))/100% calc(4*var(--s));
}


.msgStyleBold {
    font-weight: bold;
}

.msgStyleTitle {
    font-size: xx-large;
}

.msgStyleTts {
    font-style: italic;
    font-size: large;
    font-weight: 600;
    background: var(--m2t);
    border: double 5px white;
}

.ttsbox {
    background-color: rgb(123, 123, 123);
    border-radius: 6px;
    margin: 3px;
    padding: 3px;
    font-size: x-small;
    transition: all 0.3s;
    cursor: pointer;
}

.ttsbox:hover {
    background-color: rgb(154, 154, 154);
}

@property --rainbow_1 {
  syntax: '<color>';
  initial-value: #fb0094;
  inherits: false;
}

@property --rainbow_2 {
  syntax: '<color>';
  initial-value: #0000ff;
  inherits: false;
}

@property --rainbow_3 {
  syntax: '<color>';
  initial-value: #00ff00;
  inherits: false;
}

@property --rainbow_4 {
  syntax: '<color>';
  initial-value: #ffff00;
  inherits: false;
}

@property --rainbow_5 {
  syntax: '<color>';
  initial-value: #ff0000;
  inherits: false;
}

.msgStyleRainbox {
    position: relative;
    z-index: 0;
    border-radius: 20px;
    border-top-left-radius: 3px;
    overflow: hidden;
    /* padding: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;

    &::before {
        content: '';
        position: absolute;
        z-index: -2;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        background-color: #399953;
        background-repeat: no-repeat;
        background-size: 50% 50%, 50% 50%;
        background-position: 0 0, 100% 0, 100% 100%, 0 100%;
        /* background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
        background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000); */
        background: linear-gradient(45deg, var(--rainbow_1), var(--rainbow_2), var(--rainbow_3), var(--rainbow_4), var(--rainbow_5));
        background-repeat: repeat;
        animation: rotateColor 4s linear infinite;
        transition: all 0.2s;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 6px;
        top: 6px;
        width: calc(100% - 12px);
        height: calc(100% - 12px);
        /* background: white; */
        background: linear-gradient(135deg, var(--m2), var(--m3));
        border-radius: 20px;
        border-top-left-radius: 3px;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes rotateColor {

    /* background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000); */
    0% {
        transform: rotate(0turn);
        --rainbow_1: #fb0094;
        --rainbow_2: #0000ff;
        --rainbow_3: #00ff00;
        --rainbow_4: #ffff00;
        --rainbow_5: #ff0000;
    }

    20% {
        transform: rotate(.2turn);
        --rainbow_1: #ff0000;
        --rainbow_2: #fb0094;
        --rainbow_3: #0000ff;
        --rainbow_4: #00ff00;
        --rainbow_5: #ffff00;
    }

    40% {
        transform: rotate(.4turn);
        --rainbow_1: #ffff00;
        --rainbow_2: #ff0000;
        --rainbow_3: #fb0094;
        --rainbow_4: #0000ff;
        --rainbow_5: #00ff00;
    }

    60% {
        transform: rotate(.6turn);
        --rainbow_1: #00ff00;
        --rainbow_2: #ffff00;
        --rainbow_3: #ff0000;
        --rainbow_4: #fb0094;
        --rainbow_5: #0000ff;
    }

    80% {
        transform: rotate(.8turn);
        --rainbow_1: #0000ff;
        --rainbow_2: #00ff00;
        --rainbow_3: #ffff00;
        --rainbow_4: #ff0000;
        --rainbow_5: #fb0094;
    }

    100% {
        transform: rotate(1turn);
        --rainbow_1: #fb0094;
        --rainbow_2: #0000ff;
        --rainbow_3: #00ff00;
        --rainbow_4: #ffff00;
        --rainbow_5: #ff0000;
        /* background: linear-gradient(45deg, var(--rainbow_1), var(--rainbow_2), var(--rainbow_3),var(--rainbow_4), var(--rainbow_5)); */
    }
}


@keyframes small_shake {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-3deg);
    }

    25% {
        transform: rotate(2.9deg);
    }

    45% {
        transform: rotate(-1deg);
    }

    70% {
        transform: rotate(0.5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes shaky {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(-10deg);
    }

    25% {
        transform: rotate(8deg);
    }

    45% {
        transform: rotate(-5deg);
    }

    70% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes shaking {
    25% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(-20deg);
    }

    10% {
        transform: rotate(18deg);
    }

    18% {
        transform: rotate(-14deg);
    }

    27% {
        transform: rotate(12deg);
    }

    39% {
        transform: rotate(-10deg);
    }

    55% {
        transform: rotate(8deg);
    }

    75% {
        transform: rotate(-4deg);
    }

    95% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}